

@media (max-width:1366px) {
    .box-item-product-small .box-image {
        height: 180px;
    }
    .box-item-product-big .box-image {
        max-height: 405px;
    }
    
}

@media (max-width:1280px) {
    .box-item-product-small .content-product h3 {
        font-size: 15px;
    }
    .box-item-product-small .content-product p {
        font-size: 13px;
    }
    .box-item-product-big .content-product h3 {
        font-size: 18px;
    }
    .box-item-product-big .content-product p {
        font-size: 16px;
    }
    #certificate .wrap-slide .owl-carousel .item {
        padding-left: 0;
    }
}
@media (max-width:1200px) {
    .owl-carousel .owl-nav button.owl-prev::before {
        left: 0px;
    }
    .owl-carousel .owl-nav button.owl-next::before {
        right: 0px;
    }
    header#header .wrap-header-top .box-info .item {
        margin-right: 25px;
    }
    #why-chosse .item h3 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    #blog .wrap-content-right h3 {
        font-size: 16px;
    }
    #blog .wrap-content-right ul li {
        padding: 25px 0;
    }
}
@media (max-width:1080px) {
    .box-item-product-small .box-image {
        height: 160px;
    }
    .box-item-product-small .content-product h3 {
        font-size: 14px;
    }
    .box-item-product-small .content-product p {
        font-size: 12px;
    }
    .box-item-product-big .content-product h3 {
        font-size: 16px;
    }
    .box-item-product-big .content-product p {
        font-size: 14px;
    }
    .box-item-product-big .box-image {
        max-height: 315px;
    }
    #product .nav-tabs .nav-link {
        font-size: 14px;
    }
    #application #slide-application .item .title {
        font-size: 14px;
    }
    #blog .wrap-content-right h3 {
        font-size: 14px;
    }
    #blog .wrap-content-right ul li {
        padding: 20px 0;
    }
    #blog .wrap-content-left-blog .wrap-content-left h3 {
        font-size: 16px;
    }
    #blog .wrap-content-left-blog .wrap-content-left p {
        font-size: 14px;
    }
    footer#footer .footer-top .menu-footer li {
        padding: 7px 0;
        padding-left: 20px;
    }
    footer#footer .footer-top {
        padding: 30px 0;
    }
    #certificate .wrap-slide .owl-carousel .item, #certificate .wrap-slide .owl-carousel .item img {
        width: 100%;
    }
    #certificate .wrap-slide {
        padding: 30px;
    }
}
@media (max-width:1024px) {
    header#header .wrap-header-top .box-info {
        position: fixed;
        bottom: 0;
        background: #FFF;
        left: 0;
        width: 100%;
        z-index: 15;
        border-top: 1px solid #03429942;
        /* border-bottom: 1px solid #03429942; */
    }
    header#header .wrap-header-top .box-info div.item{
        display: none;
    }
    .wrap-header-top .box-info .item .content {
        display: none;
    }
    header#header .wrap-header-top .box-info .item .image {
        margin-right: 0;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header#header .wrap-header-top .box-info a.item,
    header#header .wrap-header-top .box-info .item.icon-toggle-menu{
        margin: 0;
        flex: 0 0 calc(100% / 3);
        justify-content: center;
        border-left: 1px solid #03429942;
        padding: 15px 0;
    }
    header#header .wrap-header-top .box-info .item .image .big{
        display: block;
    }
    header#header .wrap-header-top .box-info .item .image .small{
        display: none;
    }
    header#header .wrap-header-top {
        padding: 9px 0;
    }
    header#header .wrap-header-top .box-info .item.icon-toggle-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
    }
    header#header .box-info .item.icon-toggle-menu .wrap-icon-toggle{
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header#header .box-info .item.icon-toggle-menu span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #034299;
        transition: all .3s;
    }
    header#header .box-info .item.icon-toggle-menu span:before,
    header#header .box-info .item.icon-toggle-menu span:after{
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #034299;
        left: 0;
        transition: all .3s;
        border-radius: 2px;
    }
    header#header .box-info .item.icon-toggle-menu span:before{
        top: 5px;
    }
    header#header .box-info .item.icon-toggle-menu span:after{
        bottom: 4px;
    }
    header#header .box-info .item.icon-toggle-menu .wrap-icon-toggle.active span{
        background-color: transparent;
        transition: all .3s;
    }
    header#header .box-info .item.icon-toggle-menu .wrap-icon-toggle.active span:before{
        transform: rotate(45deg);
        top: 12px;
        transition: all .3s;
    }
    header#header .box-info .item.icon-toggle-menu .wrap-icon-toggle.active span:after{
        transform: rotate(-45deg);
        bottom: 11px;
        transition: all .3s;
    }
    nav#navs{
        position: fixed;
        left: 0;
    top: 0;
    height: 100%;
    background: #FFF;
    width: 100%;
    max-width: 300px;
    transform: translateX(-300px);
    transition: all .3s;
    }
    #navs .menu {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #navs .menu li {
        width: 100%;
        border-bottom: 1px solid #034299a8;
        padding-left: 0;
        padding-right: 0;
    }
    #navs .menu li a{
        color: #034299;
    }
    #navs .menu li a:before, #navs .menu li>a:before {
        border:none
    }
    #navs .menu li .toggle-menu{
    position: absolute;
    right: 0;
    width: 40px;
    height: 51px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    }
    #navs .menu li .toggle-menu i{
        font-size: 18px;
        transition: all .3s;
    }
    #navs .menu li .toggle-menu.active{
        background-color: #034299;
        transition: all .3s;
    }
    #navs .menu li .toggle-menu.active i{
        color: #FFF;
        transition: all .3s;
    }
    #navs .menu li .menu-child {
        position: relative;
        top: 100%;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: all .4s;
        min-width: 100%;
        background-color: transparent;
        padding: 0 10px;
    }
    #navs .menu li .menu-child{
        padding: 0;
        display: none;
        transition: none;
    }
    #navs .menu li .menu-child a{
        color: #034299;
    }
    #navs .menu li .menu-child li{
        border-bottom: 1px solid #034299a8;
        padding-left: 10px;
    }
    #navs .menu li .menu-child li:last-child{
        padding-bottom: 0;
    }
    header#header, main#main, footer#footer{
        transition: all .3s;
    }

    nav#navs.active{
        transform: translateX(0);
        transition: all .3s;
    }
    .active-menu{
        transform: translateX(300px)!important;
        transition: all .3s;
    }
    body.overlay{
        position: relative;
        overflow: hidden;
    }
    body.overlay:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-color: #0000008a;
        z-index: 10;
    }
    header#header .logo{
        transition: all .3s;
    }
    header#header .logo.active-menu{
        transition: all .3s;
    }
    section#banner-main .wrap-content-main .title-banner {
        font-size: 20px;
        background-color: rgb(3 66 153 / 85%);
        padding: 25px 35px;
    }
    .title-page {
        font-size: 22px;
        padding: 40px 0 30px;
    }
    .box-item-product-big .box-image {
        max-height: 278px;
    }
    .box-item-product-small .content-product {
        padding: 10px 10px 20px;
    }
    .box-item-product-small .box-image {
        height: 140px;
    }
    section#about-us .wrap-about .content-about{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width:991px) {
    #why-chosse .item h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    #why-chosse .item .box-image {
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
    }
    section#about-us .wrap-about .content-about .content-less{
        margin-bottom: 20px;
    }
    section#about-us .wrap-about .content-about .btn {
        font-size: 14px;
        min-width: 160px;
    }
    section#about-us .wrap-about .content-about h2 {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .title-page {
        font-size: 20px;
    }
    .modal-content .wrap-video-youtube iframe{
        width: 100%;
        height: 450px;
    }
}
@media (max-width:768px) {
    .box-item-product-big .box-image {
        max-height: 450px;
    }
    .box-item-product-small .box-image {
        height: 215px;
    }
    #customer .item-customer {
        margin-bottom: 70px;
    }    
    #certificate .wrap-slide {
        padding: 30px;
        width: 100%;
        margin-bottom: 30px;
    }
    .wrap-content-certi{
        padding: 15px;
    }
    #blog .wrap-content-right {
        padding-left: 0;
        padding-top: 20px;
    }
    footer#footer {
        margin-top: 40px;
    }
    footer#footer .footer-top h3.title-footer {
        margin-top: 20px;
    }
    footer#footer .footer-top {
        padding: 10px 0 20px;
    }
    footer#footer .footer-top .menu-footer li{
        padding-left: 15px;
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }
    footer#footer .footer-top .menu-footer li:before {
        top: 16px;
    }    
    section#banner-main .wrap-content-main .list ul li {
        flex: 0 0 calc(100% / 2);
    }
    section#banner-main .wrap-content-main .list {
        background-color: rgb(0 79 187 / 85%);
        padding: 45px 30px 20px;
    }
    section#banner-main .wrap-content-main .title-banner {
        font-size: 18px;
    }
    section#about-us .wrap-about{
        display: block;
        flex-direction: column;
        padding-top: 20px;
    }
    section#about-us .wrap-about .image {
        flex: 0 0 100%;
        max-width: 100%;
        height: 400px;
    }
    section#about-us .wrap-about .image .icon-image {
        left: 50%;
        transform: translate(-50%, -50%);
        right: 0;
    }
    section#about-us .wrap-about .content-about {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-content .wrap-video-youtube iframe{
        width: 100%;
        height: 380px;
    }
    section#banner-main .slide-banner-main.owl-carousel .item img {
        height: 420px;
    }
    section#banner-main .owl-carousel .owl-nav button.owl-prev::before{
        left: 10px;
    }
    section#banner-main .owl-carousel .owl-nav button.owl-next::before{
        right: 10px;
    }
}
@media (max-width:576px) {
    .box-item-product-small .box-image,
    .box-item-product-big .box-image{
        height: 100%;
    }
}
@media (max-width:540px) {
    footer#footer .footer-top .menu-footer li{
        padding-left: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #blog .wrap-content-left-blog {
        display: block;
        height: auto;
    }
    #blog .wrap-content-left-blog .box-image {
        flex: 0 0 100%;
        max-width: 100%;
        height: 450px;
    }
    #blog .wrap-content-left-blog .wrap-content-left {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    section#banner-main .wrap-content-main {
        position: relative;
        left: 0;
        width: 100%;
        bottom: auto;
        top: -100px;
    }
    section#banner-main {
        height: auto;
        margin-bottom: 0;
    }
    section#about-us {
        margin-top: -40px;
    }
    section#banner-main .wrap-content-main .list ul li {
        flex: 0 0 100%;
    }
    .content-banner-main{
        text-align: center;
    }
    section#banner-main .wrap-content-main .list {
        text-align: left;
    }
    #product .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    #product .nav-tabs .nav-link {
        min-width: max-content;
    }
    #customer .item-customer {
        padding: 33px 20px 45px;
    }
    section#banner-main .wrap-content-main .title-banner{
        margin-left: 0;
    }
    section#banner-main .slide-banner-main.owl-carousel .item img {
        height: 400px;
    }
}
@media (max-width:414px) {
    #application #slide-application .item .box-image {
        height: 140px;
        padding: 0;
    }
    section#banner-main .slide-banner-main.owl-carousel .item img {
        height: 360px;
    }

}





