@font-face {
    font-family: Font-300;
    src: url("./fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: Font-Regular;
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}


@font-face {
    font-family: Font-bold;
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

:root {
    --font-300: "Font-300";
    --font-normal: "Font-Regular";
    --font-bold: "Font-bold";
    --color-main: #034299;
    --color-text: #4F4F4F;
    --width-container: 1200px;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    /* color: var(--color-text); */
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    line-height: 1.33;
    font-size: 14px;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


.m-100 {
    margin-top: 100px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

main.overflow {
    overflow-x: hidden;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: var(--width-container);
}

.font-bold {
    font-family: var(--font-bold);
}

.bg-white {
    background-color: white;
}

.color-main {
    color: var(--color-main) !important
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}

.btn.btn-color-main {
    background-color: var(--color-main);
    ;
    color: #FFF;
}

.btn.btn-color-main:hover {
    opacity: .8;
}


/* HEADER  */
/* HEADER  */
header#header {
    background-color: #FFF;
    position: relative;
    z-index: 10;
    transition: all .4s;
}

header#header.active{
    box-shadow: rgb(0 71 255 / 5%) 0px 4px 4px;
}
header#header .logo {
    margin-bottom: 0;
    font-size: inherit;
    line-height: 0;
}

header#header .wrap-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    padding: 19.5px 0;
}

header#header .wrap-header-top .box-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header#header .wrap-header-top .box-info .item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

header#header .wrap-header-top .box-info .item .image {
    margin-right: 10px;
    min-width: max-content;
}
header#header .wrap-header-top .box-info .item .image .big,
header#header .wrap-header-top .box-info .item.icon-toggle-menu{
    display: none;
}

.wrap-header-top .box-info .item .content {
    font-size: 12px;
}

.wrap-header-top .box-info .item .content p:first-child {
    font-family: var(--font-300);
    color: #828282;
    text-transform: uppercase;
}

.wrap-header-top .box-info .item .content p:last-child {
    font-family: var(--font-bold);
    color: var(--color-main);
}


#navs .menu {
    display: flex;
    align-items: center;
}

#navs .menu li {
    font-size: 14px;
    line-height: unset;
    position: relative;
    padding: 15px 17px;
}

#navs .menu li a, #navs .menu li a h2{
    font-size: 14px;
    color: #828282;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;
    line-height: 1.12;
}

#navs .menu li a:before {
    content: "";
    position: absolute;
    width: 42px;
    color: var(--color-main);
    border-bottom: 2px solid transparent;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

#navs .menu li.active a h2, #navs .menu li.active a, #navs .menu li:hover>a, #navs .menu li:hover>a h2 {
    font-family: var(--font-bold);
    color: var(--color-main);
}

#navs .menu li.active a:before,
#navs .menu li:hover>a:before {
    border-color: var(--color-main);
}

#navs .menu li .menu-child {
    position: absolute;
    top: 100%;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    min-width: 150px;
    background-color: var(--color-main);
    padding: 0 10px;
}

#navs .menu li:hover>.menu-child {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

#navs .menu li .menu-child li {
    border-bottom: 1px solid #FFF;
}

#navs .menu li .menu-child li:last-child {
    border: none
}

#navs .menu li .menu-child a {
    color: #FFF;
}

/* END HEADER  */
/* END HEADER  */


/* MAIN  */

section#banner-main {
    /* height: 480px; */
    position: relative;
    margin-bottom: 55px;
}

section#banner-main .slide-banner-main.owl-carousel .item img {
    width: 100%;
    height: 480px;
}

section#banner-main .wrap-content-main {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -55px;
    z-index: 1;
}
section#banner-main .owl-carousel .owl-nav button.owl-prev::before{
    left: 30px;
}
section#banner-main .owl-carousel .owl-nav button.owl-next::before{
    right: 30px;
}

section#banner-main .wrap-content-main .title-banner {
    font-size: 25px;
    text-transform: uppercase;
    color: #FFF;
    font-family: var(--font-bold);
    line-height: 1.2;
    background-color: rgb(3 66 153 / 85%);
    ;
    display: inline-block;
    padding: 37px 45px;
    margin-bottom: -20px;
    margin-left: 20px;
}

section#banner-main .wrap-content-main .list {
    background-color: rgb(0 79 187 / 85%);
    padding: 50px 40px 30px;
    color: #FFF;
    font-size: 14PX;
}

section#banner-main .wrap-content-main .list ul {
    display: flex;
    flex-wrap: wrap;
}

section#banner-main .wrap-content-main .list p {
    font-family: var(--font-300);
}

section#banner-main .wrap-content-main .list ul li {
    flex: 0 0 calc(100% / 3);
    font-family: var(--font-300);
    padding: 8px 0;
    padding-left: 20px;
    position: relative;
}

section#banner-main .wrap-content-main .list ul li:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #FFF;
    position: absolute;
    left: 7px;
    top: 15px;
}

/* ABOUT US  */
section#about-us {
    margin-top: 120px;
}

section#about-us .wrap-about {
    display: flex;
    align-items: center;
    background-color: #F7F8FA;
    border-radius: 3px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

section#about-us .wrap-about .image {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
    height: 100%;
}

section#about-us .wrap-about .image img {
    width: 100%;
    height: 100%;
}

section#about-us .wrap-about .image .icon-image {
    width: 57px;
    height: 57px;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 71, 255, 0.25);
    background-color: #FFF;
    position: absolute;
    top: 50%;
    right: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%);
}

section#about-us .wrap-about .image .icon-image img {
    width: max-content;
    height: max-content;
}

section#about-us .wrap-about .content-about {
    flex: 0 0 55%;
    max-width: 55%;
    color: #4F4F4F;
    padding-left: 60px;
}

section#about-us .wrap-about .content-about p {
    font-size: 12px;
}

section#about-us .wrap-about .content-about h2 {
    font-size: 16px;
    color: var(--color-main);
    text-transform: uppercase;
    font-family: var(--font-bold);
    margin-top: 30px;
    margin-bottom: 20px;
}

section#about-us .wrap-about .content-about .content-less {
    font-size: 14px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

section#about-us .wrap-about .content-about .btn {
    font-size: 16px;
    background-color: #FFF;
    color: var(--color-main);
    height: 40px;
    min-width: 200px;
    padding-top: 10px;
    border-radius: 3px;
    box-shadow: 0px 3px 5px rgb(0 71 255 / 15%);
}

.modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-content .close {
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}

.modal-content .wrap-video-youtube {
    background-color: var(--color-main);
}

.title-page {
    font-size: 25px;
    color: var(--color-main);
    font-family: var(--font-bold);
    text-transform: uppercase;
    padding: 60px 0 50px;
    text-align: center;
}

#why-chosse .row>[class*="col-"] {
    margin-bottom: 30px;
}

#why-chosse .item {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(3, 66, 153, 0.15);
    border-radius: 20px;
    padding: 50px 37px 45px;
    text-align: center;
    height: 100%;
    transition: all .4s;
}

#why-chosse .item .box-image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--color-main);
    box-shadow: 0px 4px 10px rgba(3, 66, 153, 0.35);
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#why-chosse .item .box-image img {
    width: max-content;
}

#why-chosse .item h3 {
    font-size: 25px;
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 30px;
    font-family: var(--font-bold);
}

#why-chosse .item p {
    font-size: 16px;
    color: var(--color-text);
    padding-bottom: 20px;
}


/* product */

#product {}

#product .nav-tabs {
    border-bottom: none;
    margin-bottom: 45px;
}

#product .nav-tabs .nav-link {
    font-size: 18px;
    color: #828282;
    text-transform: uppercase;
    padding-bottom: 6px;
    margin: 0;
    position: relative;
    border: none;
    font-family: var(--font-normal);
}

#product .nav-tabs .nav-link::before {
    content: "";
    position: absolute;
    width: 55px;

    border-bottom: 1px solid transparent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#product .nav-tabs .nav-link.active,
#product .nav-tabs .nav-link:hover {
    border: none;
    color: var(--color-main);
    font-family: var(--font-bold);
    background: transparent;
}

#product .nav-tabs .nav-link.active:before, #product .nav-tabs .nav-link:hover:before {
    border-color: var(--color-main);
}

#product {
    padding-bottom: 50px;
}

.box-item-product {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.box-item-product .box-image{
    width: 100%;
    overflow: hidden;
}
.box-item-product .box-image img{
    height: 100%;
    width: 100%;
}
.box-item-product .content-product,
.box-item-product .content-product h3,
.box-item-product .content-product p{
    color: var(--color-text);
}
.box-item-product .content-product h3{
    font-family: var(--font-bold);
}
.box-item-product .content-product p{
    font-family: var(--font-normal);
}
.product-tab-item .item{
    padding: 10px 10px;
}
.box-item-product-big .box-image{
    max-height: 443px;
    height: 100%;
}
.box-item-product-small .box-image{
    height: 210px;
}

.box-item-product-big .content-product{
    padding: 10px 45px 70px;
    
}
.box-item-product-big .content-product h3{
    font-size: 20px;
}
.box-item-product-big .content-product p{
    font-size: 18px;
}
.box-item-product-small{
    height: calc((100% - 30px) / 2);
    justify-content: flex-start;
}
.box-item-product-small .content-product{
    padding: 10px 20px 35px;
}
.box-item-product-small .content-product h3{
    font-size: 16px;
}
.box-item-product-small .content-product p{
    font-size: 14px;
}

.wrap-item-small>.box-item-product:first-child{
    margin-bottom: 30px;
}

.owl-carousel .owl-dots{display: none;}
.owl-carousel .owl-nav{
    margin: 0;
    height: 0;
}
.owl-carousel .owl-nav button span{
    display: none;
}

.owl-carousel .owl-nav button::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(3, 66, 153, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main);
    font-size: 18px;
    line-height: 1;
    margin-top: 3px;
    font-family: "Font Awesome 5 Pro";
}
.owl-carousel .owl-nav button.owl-prev::before{
    content: "\f104";
    left: -25px;
}
.owl-carousel .owl-nav button.owl-next::before{
    content: "\f105";
    right: -25px;
}


/* application */
#application{
    position: relative;
    height: 257px;
    margin-bottom: 180px;
}
#application .wrap-background{
    position: relative;
    height: 100%;
}
#application .wrap-background:before{
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    background: rgb(3 66 153 / 85%);;
}
#application .wrap-background img{
    width: 100%;
    height: 100%;
}
#application  .wrap-slide-application{
    position: absolute;
    left: 0;
    width: 100%;
    top:0;
}
#application  .wrap-slide-application .title-page{
    color: #FFF;
    padding-top: 50px;
}
#application  #slide-application .item{}
#application  #slide-application .item{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    background: var(--color-main);
}
#application  #slide-application .item .box-image{
    height: 180px;
    padding: 0;
}
#application  #slide-application .item .box-image img{
    height: 100%;
    width: 100%;
}
#application  #slide-application .item .title{
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 20px 10px;
    transition: all .3s;
}
#application  #slide-application .item .title:hover{
    opacity: .8;
}

/* customer */
#customer{
    background-image: url(../images/banner-3.png);
    position: relative;
    padding: 0 0 50px;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
}
#customer:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(79 79 79 / 85%);
    z-index: 1;
}
#customer .container{
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
}

#customer .title-page{
    color: #FFF;

}
#customer .item-customer{
    background:rgb(255 255 255 / 35%);
    border-radius: 10px;
    text-align: center;
    padding: 50px 30px;
}
#customer .item-customer .img{
    margin-bottom: 20px;
}
#customer .item-customer .box-rating{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
#customer .item-customer .box-rating i{
    color: #FFE600;
    font-size: 16px;
    margin: 0 1px;
}
#customer .item-customer p{
    color: #FFF;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: var(--font-300);
}
#customer .item-customer p.name-customer{
    font-size: 19px;
    font-family: var(--font-bold);
    color: #FFF;
    margin-bottom: 20px;
}
#customer .item-customer .box-image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border:3px solid #FFFFFF;
    margin: 0 auto -100px;
    padding: 0;
}

/* certificate */
#certificate{}
#certificate .wrap-certi{
    background: #F7F8FA;
border-radius: 10px;
}
#certificate .wrap-slide{
    width: 80%;
    position: relative;
    margin-right: 40px;
    background: var(--color-main);
    border-radius: 10px;
    padding: 75px 30px;
}
#certificate .wrap-slide .owl-carousel{
    position: relative;
}
#certificate .wrap-slide .owl-carousel .item{
    padding-left: 30px;
}
#certificate .wrap-slide .owl-carousel .item,
#certificate .wrap-slide .owl-carousel .item img{
    width: 285px;
}

.wrap-content-certi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 30px;
}
.wrap-content-certi h3{
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--color-text);
    font-family: var(--font-bold);
}
.wrap-content-certi p{
    font-size: 16px;
    line-height: 1.12;
    color: #828282;
    font-family: var(--font-300);
    margin-bottom: 20px;
}
.wrap-content-certi .less-content{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


#blog .wrap-certi{
    background: #F7F8FA;
}
#blog .wrap-content-left-blog{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#blog .wrap-content-left-blog .box-image{
    flex: 0 0 39%;
    max-width: 39%;
    height: 100%;
    padding: 0;
}
#blog .wrap-content-left-blog .box-image img{
    width: 100%;
    height: 100%;
}
#blog .wrap-content-left-blog .wrap-content-left{
    flex: 0 0 61%;
    max-width: 61%;
    height: 100%;
    color: #828282;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 10px;
}
#blog .wrap-content-left-blog .wrap-content-left span{
    font-size: 12px;
    font-family: var(--font-300);
    color: #828282;
}
#blog .wrap-content-left-blog .wrap-content-left h3{
    font-size: 18px;
    font-family: var(--font-bold);
    margin: 15px 0;
    color: var(--color-text);
    transition: all .4s;
}
#blog .wrap-content-left-blog .wrap-content-left h3:hover{color: var(--color-main);}
#blog .wrap-content-left-blog .wrap-content-left p{
    font-size: 16px;
    font-family: var(--font-300);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    color: #828282;
    
}
#blog .wrap-content-right{
    background: #FFF;
    height: 100%;
    padding-left: 30px;
}
#blog .wrap-content-right ul li{
    border-bottom: 1px dotted #BDBDBD;
    padding:30px 0
}
#blog .wrap-content-right span{
    font-size: 12px;
    font-family: var(--font-300);
    color: #828282;
}
#blog .wrap-content-right h3{
    font-size: 18px;
    font-family: var(--font-bold);
    margin: 15px 0 0;
    color: var(--color-text);
    transition: all .4s;
}

#blog .wrap-content-right h3:hover{color: var(--color-main);}
#blog .wrap-content-right ul li:last-child{
    border:none
}


/* end main  */
/* end main  */

/* FOOTER  */
/* FOOTER  */

footer#footer{
    font-size: 14px;
    color: #FFF;
    margin-top: 80px;
}
footer#footer .footer-top{
    padding: 40px 0;
    background: #0044A3;
}
footer#footer .footer-top .wrap-logo-footer{}
footer#footer .footer-top h3.title-footer{
    position: relative;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: var(--font-bold);
}
footer#footer .footer-top h3.title-footer:before{
    content: "";
    position: absolute;
    width: 50px;
    left: 0;
    border-bottom: 2px solid #FFF;
    bottom: 0;
}
footer#footer .footer-top .wrap-logo-footer .logo{}
footer#footer .footer-top .wrap-logo-footer h2{
    font-size: 18px;
    font-family: var(--font-bold);
    margin-bottom: 10px;
    margin-top: 20px;
    color: #FFF;
}
footer#footer .footer-top .wrap-logo-footer ul{}
footer#footer .footer-top .wrap-logo-footer li{
    display: flex;
    align-items: center;
    margin: 15px 0
}
footer#footer .footer-top .wrap-logo-footer .img{
    min-width: 14px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer#footer .footer-top .wrap-logo-footer .content{
    font-size: 14px;
    color: #FFF;
    line-height: 1.12;
}
footer#footer .footer-top .menu-footer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    margin-top: -10px;
}
footer#footer .footer-top .menu-footer li{
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 10px 0;
    position: relative;
    padding-left: 20px;
}
footer#footer .footer-top .menu-footer li:before{
    content: "";
    position: absolute;
    top: 18px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #FFF;
}
footer#footer .footer-top .menu-footer li a{
    color: #FFF;
}

footer#footer .footer-top .soccial-footer{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
footer#footer .footer-top .soccial-footer li{
    margin-right: 7px;
}

footer#footer .footer-last{
    background-color: var(--color-main);
    color: #FFF;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
footer#footer .footer-top a:hover{
    opacity: .8;
}


/* end footer  */
.box-image{
    padding-left: 10px;
    padding-right: 10px;
}
.hover-image, .box-image{
    position: relative;
    overflow: hidden;
}
.hover-image::before, .box-image:before{
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-image:hover::before, .box-image:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}







